div.background{
    background-color: azure;
}
div.box1{
    background-color: aquamarine;
}
div.box2{
    background-color: chartreuse;
}
div.box3{
    background-color: cyan;
}
div.box4{
    background-color: bisque;
}
div.header{
    font-weight: bold;
}
